<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h1>Crowd-Counting-P2P</h1>
   <div>
      <h2>Image Inferece:</h2>
      <br>
      <form action = "http://127.0.0.1:5000/image" method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
      </form>
   </div>
   <div>
      <h2>Video Inferece:</h2>
      <br>
      <form action = "http://127.0.0.1:5000/video" method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
      </form>
   </div>    
</body>
</html>
